/* Variables */

:root {
  --clr-primary-100: hsl(225, 100%, 94%);
  --clr-primary-900: hsl(245, 75%, 52%);

  --clr-neutral-100: hsl(225, 100%, 98%);
  --clr-neutral-500: hsl(224, 23%, 55%);
  --clr-neutral-900: hsl(223, 47%, 23%);
}

/* Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

/* Styles  */

body {
  font-family: "Red Hat Display", sans-serif;
}
